{% extends "users/base.html" %}
{% block content %}
    <div style='margin:50px; border:1px solid; width: 200px;'>
        <p>{{ sell.item.title }}</p>
        <p>{{sell.item.description}}</p>
        <p>{{sell.item.item_type}}</p>
        <p>price : {{sell.current_price}}</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make A Bid</legend>
                <input type="text" name="amount" placeholder="0">
                <input type="hidden" name="item_id" value={{sell.item.id}}>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
{% endblock %}