{% extends "users/base.html" %}
{% block content %}
    <h1>Current Auctions:</h1>
    {% for sell in sells %}
        <div id={{sell.item.id}} class="card">
            <div class="additional">
            <div class="item-image">
                <img src="" alt="Item Photo">
                <div class="item-price">
                    {{sell.current_price}}₺
                </div>
            </div>
            </div>
            <div class="general">
            <div class="item-info">
                <p class="left"> Owner: {{ sell.item.owner.name_surname }}</p>
                <p class="right">Type: {{ sell.item.item_type }}</p>
            </div>
            <h1>{{ sell.item.title }}</h1>
            <p>{{ sell.item.description }}</p>
            <span>Click On Item to Go Auction Page</span>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Watch Item">
                <input type="hidden" name="item_id" value={{sell.item.id}}>
            </form>
            </div>

        </div>
    {%endfor%}
    
    {% for sell in sells %}
        <script type="text/javascript">
            document.getElementById({{sell.item.id}}).onclick = function () {
                location.href = "./bidding/"+{{sell.item.id}};
            };
        </script>
    {%endfor%}
{% endblock %}
