{% extends "users/base.html" %}
{% block content %}
    <h1>Items:</h1>
    {% for item in items %}
        <div id={{item.id}} class="card">
            <div class="additional">
            <div class="item-image">
                <img src="" alt="Item Photo">
                <div class="item-price">
                    1300₺
                </div>
            </div>
            </div>
            <div class="general">
            <div class="item-info">
                <p class="left"> Owner: {{ item.owner.name_surname }}</p>
                <p class="right">Type: {{ item.item_type }}</p>
            </div>
            <h1>{{ item.title }}</h1>
            <p>{{ item.description }}</p>
            <span>Click On Item to Go Auction Page</span>
            </div>

        </div>
    {%endfor%}
    
    {% for item in items %}
        <script type="text/javascript">
            document.getElementById({{item.id}}).onclick = function () {
                location.href = "./bidding/"+{{item.id}};
            };
        </script>
    {%endfor%}
{% endblock %}
