{% extends "users/base.html" %}
{% block content %}

    <div style='margin:50px; border:1px solid; width: 200px;'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Item</legend>
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="item_type" placeholder="Item type">
                <input  type="submit" value="Submit">
            </fieldset>
        </form>
    </div>

{% endblock %}

