{% extends "users/base.html" %}
{% block content %}

    <h1>Owned Items</h1>
    <div class="list-wrapper">
        {% for item in owned_items %}
        <div id={{item.id}} class="card">
            <div class="additional">
            <div class="item-image">
                <img src="https://www.dhresource.com/600x600/f2/albu/g7/M01/D3/91/rBVaSVrsd5aAA5isAAMVt25ugBc771.jpg" alt="Item Photo">
                <div class="item-price">
                    1300₺
                </div>
            </div>
            </div>
            <div class="general">
            <div class="item-info">
                <p class="left"> Owner: {{ item.owner.name_surname }}</p>
                <p class="right">Type: {{ item.item_type }}</p>
            </div>
            <h1>{{ item.title }}</h1>
            <p>{{ item.description }}</p>
            <div class="button-group">
                <button onClick="toggleDisplay(document.getElementById('{{item.id}}') ,'decrement-form')">Sell Decrement</button>
                <button onClick="toggleDisplay(document.getElementById('{{item.id}}'), 'increment-form')">Sell Increment</button>
            </div>
            <form class="decrement-form" style='display: none;' method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <input type="submit" value="Sell Decrement">
                    <input type="text" name="starting_price" placeholder="starting price">
                    <input type="text" name="period" placeholder="period">
                    <input type="text" name="delta" placeholder="delta">
                    <input type="text" name="stop_decrement" placeholder="stop decrement">
                    <input type="hidden" name="item_id" value={{item.id}}>
                    <input type="hidden" name="sell_type" value='decrement'>
                </fieldset>
            </form>
            <form class="increment-form" style='display: none;' method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <input type="submit" value="Sell Increment">
                    <input type="text" name="starting_price" placeholder="starting price">
                    <input type="text" name="instant_sell" placeholder="instant sell">
                    <input type="hidden" name="item_id" value={{item.id}}>
                    <input type="hidden" name="sell_type" value='increment'>
                </fieldset>
            </form>

            </div>
    
        </div>
        {%endfor%}
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <input type="submit" value="Sell Increment">
            <input type="text" placeholder="starting price">
            <input type="text" placeholder="instant sell">
            <input type="text" placeholder="minunum delta">
            <input type="hidden" name="item_id" value={{item.id}}>
        </fieldset>
    </form>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <input type="submit" value="Sell Decrement">
            <input type="text" placeholder="period">
            <input type="text" placeholder="delta">
            <input type="text" placeholder="stop decrement">
            <input type="hidden" name="item_id" value={{item.id}}>
        </fieldset>
    </form>
    <script>
        function toggleDisplay(el,className) {
            console.log(className)
            var old=el.getElementsByClassName(className)[0].style.display
            el.getElementsByClassName(className)[0].style.display = old=='none' ? 'block' : 'none'
            el.style.height = old=='none' ? '300px' : '200px'
        }
        
    </script>
{% endblock %}