{% extends "users/base.html" %}
{% block content %}

    <h1>Owned Items</h1>
    {% for item in owned_items %}
    <div id={{item.id}} class="card">
        <div class="additional">
        <div class="item-image">
            <img src="" alt="Item Photo">
            <div class="item-price">
                1300₺
            </div>
        </div>
        </div>
        <div class="general">
        <div class="item-info">
            <p class="left"> Owner: {{ item.owner.name_surname }}</p>
            <p class="right">Type: {{ item.item_type }}</p>
        </div>
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <input type="submit" value="Sell">
                <input type="hidden" name="item_id" value={{item.id}}>
            </fieldset>
        </form>
        </div>

    </div>
    {%endfor%}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <input type="submit" value="Sell Increment">
            <input type="text" placeholder="starting price">
            <input type="text" placeholder="instant sell">
            <input type="text" placeholder="minunum delta">
            <input type="hidden" name="item_id" value={{item.id}}>
        </fieldset>
    </form>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <input type="submit" value="Sell Decrement">
            <input type="text" placeholder="period">
            <input type="text" placeholder="delta">
            <input type="text" placeholder="stop decrement">
            <input type="hidden" name="item_id" value={{item.id}}>
        </fieldset>
    </form>
{% endblock %}